.ErrorPage{
    

background: url('https://i.gifer.com/G2TW.gif') no-repeat center center fixed;
 
position:relative;
min-width: 400px; 
min-height: 1200px;
margin: 0;
padding: 0;
	
-khtml-background-size:cover;  /*  Konqueror */
-webkit-background-size:cover; /* Webkit */
-moz-background-size:cover;  /* Firefox */
-o-background-size:cover;  /*  Opera */
background-size:cover; /* Resto */
}